<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.xmy.simple.mapper.SimpleUserMapper">

    <resultMap id="simpleUserResult" type="pers.xmy.simple.entity.SimpleUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="online" property="online" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
    </resultMap>

    <sql id="selectColumn">
        id, username, password, online, nickname, sex, address
    </sql>

    <select id="getOneById" resultMap="simpleUserResult">
        select
            <include refid="selectColumn" />
        from simple_user
        where id = #{id}
    </select>

</mapper>
